<div class="container">

    <br>

    <div class="row text-center">

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            <h1>AP SCRAPER</h1>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <br>

    <div class="row text-center">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

            {{#each .}}

            {{#if this.headline}}

            <a href={{url}} target="_blank">{{headline}}</a>
            <p>{{desc}}<button type="button" class="btn btn-info comm" id={{_id}}>Comment</button></p>

            {{#if this.comments}}

            <p><strong>Comments:</strong></p>

            {{#each this.comments}}

            <p><strong>{{title}}:</strong> {{body}} <button type="button" class="btn btn-outline-warning delComm" id={{_id}}>Edit/Delete</button></p>

            {{/each}}

            {{/if}}

            {{/if}}

            {{/each}}

        </div>

        <div class="col-lg-2"></div>

    </div>

    <div id="results-modal" class="modal fade text-center" role="dialog">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <h3 class="modal-title"><strong>Comments</strong></h3>

                </div>

                <div class="modal-body">

                    <form>

                        <div class="form-group">

                            <input class="form-control" id="title" rows="1" placeholder="Title"></input>

                        </div>

                        <div class="form-group">

                            <textarea class="form-control" id="comment" rows="3" placeholder="Comment"></textarea>

                        </div>

                        {{!-- <h3 class="text-danger bg-warning" id="cWarn"></h3> --}}

                        <button type="submit" class="btn btn-primary" id="sub">Submit</button>

                    </form>

                    <br>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>

            </div>

        </div>

    </div>

    <div id="edel" class="modal fade text-center" role="dialog">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <h3 class="modal-title"><strong>Edit/Delete Comment</strong></h3>

                </div>

                <div class="modal-body">

                    <form>

                        <div class="form-group">

                            <input class="form-control" id="edelTitle" rows="1" placeholder="Title"></input>

                        </div>

                        <div class="form-group">

                            <textarea class="form-control" id="edelComm" rows="3" placeholder="Comment"></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary" id="edelSub">Submit</button>

                    </form>

                    <br>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>

            </div>

        </div>

    </div>

</div>